<head>
<link rel="stylesheet" type="text/css" href="/css/open.css">
<h2>BATTLESHIP</h2>
</head>

<body>
<form method ="post" action="/">
<h3 class="select">Select Your Board Size</h3>
<button name="size" value="12">12 x 12</button>
<button name="size" value="24">24 x 24</button>
<button name="size" value="36">36 x 36</button>
</form>


</body>